/*==========================
About route 
========================*/
.about {
  max-width: 1000px;
  margin: 0 auto;
}
.about_list {
  list-style: none;
}
.about_list a {
  padding: 20px 0;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}
.about_list a:hover {
  color: #8a4baf;
}
.main_content {
  max-width: 650px;
}
.main_content h2 {
  margin-bottom: 15px;
  line-height: 30px;
  font-size: 26px;
}
.main_content p {
  line-height: 25px;
}
/* Media Queries */
@media screen and (min-width: 480px) {
  div.wrapper h1 {
    font-size: 6rem;
  }
  .about {
    display: grid;
    grid-template-columns: 200px minmax(0, 1fr);
  }
}

a {
  color: #333;
  text-decoration: none;
}
/* Active route */
.active {
  color: #8a4baf;
}
